header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  gap: 32.58px;
}

#menu__toggle {
  display: none;
}

.toggle__label {
  display: none;
}

.logo {
  color: var(--main-orange);
  text-decoration: none;
  font: var(--header-3);
  align-items: center;
  display: flex;
  gap: 20px;
}

.logo .logo__icon {
  height: 60px;
  width: 60px;
}

.hamburger:hover {
  cursor: pointer;
}
.menu {
  align-items: center;
  position: relative;
  display: flex;
  gap: 32.58px;
}

.menu .menu__link {
  font: var(--button-small);
  display: inline-block;
  position: relative;
  color: white;
  /* overflow: hidden; */
}

.menu .menu__link:last-child {
  background-color: var(--main-orange);
  border-radius: 100px;
  padding: 10px 16px;
}

.menu .menu__link:last-child:hover {
  background-color: var(--main-orange-hover);
}

.menu .menu__link:not(:last-child):after {
  background-color: var(--main-orange);
  transition: 0.3s;
  border-radius: 50px;
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  width: 0;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.menu .menu__link:not(:last-child):hover:after {
  width: calc(100% + 15px);
}

@media only screen and (max-width: 880px) {
  .menu {
    position: absolute;
    top: 100px;
    margin-top: 20px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    background-color: var(--bg-color);
    gap: 10px;
  }

  .menu .menu__link:not(:last-child):after {
    bottom: 0;
  }

  .menu .menu__link {
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
  }

  #menu__toggle ~ .menu {
    display: none;
    padding: 20px 0;
  }
  #menu__toggle:checked ~ .menu {
    display: flex;
  }

  #menu__toggle ~ .menu .menu__link {
    height: 0;

    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu__toggle:checked ~ .menu .menu__link {
    height: fit-content;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .toggle__label {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .logo {
    font: var(--);
  }

  .logo .logo__icon {
    height: 40px;
    width: 40px;
  }

  .hamburger {
    height: 40px;
    width: 40px;
  }

  .menu {
    top: 80px;
  }
}

@media only screen and (max-width: 414px) {
  .logo {
    font: var(--title);
  }
}
